[user]
	name = Ryan King
	email = rking@cogolabs.com
[alias]
	st = status
	ci = comit
	co = checkout
	br = branch
[color]
	status = auto
	diff = auto
	branch = auto
	ui = true
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[diff]
    tool = vim
[merge]
    tool = vim
[push]
	default = upstream
[pull]
	rebase = true
[fetch]
	prune = true
[include]
	path = ~/.gitconfig.local
[url "ssh://git@git.cogolo.net"]
	insteadOf = https://git.cogolo.net
