[user]
	name = Ryan King
	email = ryan.taylor.king@gmail.com
	signingkey = 0xD718BA353C298BB2
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	quotePath = false
	commitGraph = true
[include]
	path = ~/.gitconfig.local
[color]
	status = auto
	diff = auto
	branch = auto
	ui = true
[commit]
	gpgsign = true
[diff]
	tool = nvim
[merge]
	tool = nvim
[push]
	default = simple
[pull]
	rebase = true
[fetch]
	prune = true
[includeIf "gitdir:~/go/src/git.cogolo.net/"]
	path = ~/.gitconfig_cogo
[includeIf "gitdir:~/Work/"]
	path = ~/.gitconfig_cogo
[url "ssh://git@git.cogolo.net"]
	insteadOf = https://git.cogolo.net
[url "ssh://git@github.com/ryantking"]
	insteadOf = https://github.com/ryantking
[url "ssh://git@github.com/cogolabs"]
	insteadOf = https://github.com/cogolabs
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gc]
	writeCommitGraph = true
