[user]
	name = Ryan King
	email = rking@cogolabs.com
    signingkey = 3B7C6043E2D6EB20
    gpgsign = true
[alias]
	st = status
	ci = comit
	co = checkout
	br = branch
[color]
	status = auto
	diff = auto
	branch = auto
	ui = true
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[commit]
    gpgsign = true
[diff]
    tool = nvim
[merge]
    tool = nvim
[push]
	default = upstream
[pull]
	rebase = true
[fetch]
	prune = true
[include]
	path = ~/.gitconfig.local
[url "ssh://git@git.cogolo.net"]
	insteadOf = https://git.cogolo.net
